th, td {
    &.number {
        text-align: right;
    }
}

.digital-post-recipient,
.digital-post-attachments-info-item {
  &[data-digital-post-allowed=""] {
    .digital-post-message {
      color: red;
    }
  }
}

// .tvist1-can-receive-digital-post {
//   color: green;
// }

// https://css-tricks.com/almanac/properties/l/line-clamp/#aa-hey-cant-i-do-this-with-text-overflow
.document-name {
  max-width: 20em;
  overflow: hidden;
  // https://stackoverflow.com/a/43562036/2502647
}
