{% trans_default_domain 'documents' %}

<div class="modal fade" id="delete_document{{ document.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteDocumentModalLabel">{% trans %}Delete document{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(delete_form, {'action': path('document_delete', {'id': case.id, 'document_id': document.id})}) }}
            <div class="modal-body text-start">
                {{ form_widget(delete_form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-danger">{% trans %}Confirm deletion{% endtrans %}</button>
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
