{% extends 'layout-with-submenu.html.twig' %}

{% block title %}{% trans %}Documents{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Documents{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            <a name="" id="" class="btn btn-secondary" href="create" role="button">{% trans %}Upload document{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% set btn_group = [
        {
            "name": "Copy document to another case",
            "style": "secondary",
            "icon": "copy",
            "link": "#",
            "tooltip": "Copy document to another case",
        },
        {
            "name": "Open document",
            "style": "primary",
            "icon": "file-alt",
            "link": "#",
            "tooltip": "Open document",
        },
        {
            "name": "Delete document",
            "style": "danger",
            "icon": "trash-alt",
            "link": "#",
            "tooltip": "Delete document",
        },
    ] %}

    <main role="main" class="col-12 mt-3">
        <div class="table-responsive-sm"></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans %}Document name{% endtrans %}</th>
                <th>{% trans %}Document type{% endtrans %}</th>
                <th>{% trans %}Uploaded by{% endtrans %}</th>
                <th>{% trans %}Upload date{% endtrans %}</th>
                <th class="text-right">{% trans %}Functions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.documentName|e }}</td>
                    <td>{{ document.type|e }}</td>
                    <td>{{ document.uploadedBy|e }}</td>
                    <td>{{ document.uploadedAt|date('d/m/Y') }}</td>
                    <td class="text-right">
                        {% include "common/btn_group.html.twig" with btn_group %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
    <footer class="col-12 mt-3">
        <div class="row">
            <div class="col-auto ml-auto">
                <a name="" id="" class="btn btn-secondary" href="create" role="button">{% trans %}Upload document{% endtrans %}</a>
            </div>
        </div>
    </footer>
{% endblock %}