services:
  phpfpm:
    environment:
      - PHP_MAX_EXECUTION_TIME=60
      - PHP_MEMORY_LIMIT=512M
      - PHP_UPLOAD_MAX_FILESIZE=70M
      # Allow uploading 9 very large files.
      - PHP_POST_MAX_SIZE=700M
    depends_on:
      - gotenberg

  nginx:
    environment:
      # Allow uploading 9 very large files.
      NGINX_MAX_BODY_SIZE: 100M

  gotenberg:
    image: gotenberg/gotenberg:8
    restart: unless-stopped
    networks:
      - app
