{% set submenu = [
    {
        "name": "Casesummary",
        "link": "/summary",
    },
    {
        "name": "Basic information",
        "link": "/information"
    },
    {
        "name": "Status info",
        "link": "/status"
    },
    {
        "name": "Hearing",
        "link": "/hearing"
    },
    {
        "name": "Communication",
        "link": "/communication",
        "notification_count": "2"
    },
    {
        "name": "Documents",
        "link": "/documents"
    },
    {
        "name": "Decision",
        "link": "/decision"
    },
    {
        "name": "Notes",
        "link": "/notes"
    },
    {
        "name": "Log",
        "link": "/log"
    },
] %}

{% for item in submenu %}
    <li class="nav-item">
        {% set caselink = '/case/' ~ case.id ~ item.link %}
        <a class="nav-link {#{% if route_name == caselink %}btn btn-secondary disabled text-left mx-3{% endif %}#}" href="{{ caselink|e }}">
            {{ item.name|e }}{% if item.notification_count is defined %}<span class="badge badge-pill badge-primary ml-3">{{ item.notification_count|e }}</span>{% endif %}
        </a>
    </li>
{% endfor %}