<nav id="sidebarMenu" role="nav" class="col-md-5 col-lg-3 d-lg-block bg-light sidebar collapse">
    <div class="row no-gutters">
        {% block sidebarMenu %}
            <div class="col-auto bg-dark">
                <ul class="nav flex-column">
                    {% include 'sidebar/menu.html.twig' %}
                </ul>
            </div>
        {% endblock %}
        <div class="col">
            <div class="d-lg-none">
                {% include 'navbar/_menu.html.twig' %}
            </div>
            {% block sidebarSubmenu %}
                <div class="sidebar-sticky pt-3">
                    <h6 class="px-3 mb-1">{% trans %}Sag{% endtrans %} {{ case.caseNumber }}</h6>
                    <p class="text-muted px-3 mt-1 mb-3"><small>{{ case.complainantAddress }}</small></p>
                    <ul class="nav flex-column">
                        {% include 'sidebar/_submenu.html.twig' %}
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>
</nav>