<nav id="sidebarMenu" role="nav" class="col-md-3 d-lg-block bg-light sidebar collapse">
  <div class="row no-gutters">
    {% block sidebarMenu %}
      <div class="col-auto bg-dark">
        <ul class="nav flex-column">
          {% include 'sidebar/sidebar-menu.html.twig' %}
        </ul>
      </div>
    {% endblock %}
    <div class="col">
      <div class="d-md-none">
        {% include 'navbar/navbar-menu.html.twig' %}
      </div>
      {% block sidebarSubmenu %}
        <div class="sidebar-sticky pt-3">
          <h6 class="px-3 mb-1">Sag 21/220312</h6>
          <p class="text-muted px-3 mt-1 mb-3"><small>Espedalen 38, 8240 Risskov</small></p>
          <ul class="nav flex-column">
            {% include 'sidebar/sidebar-submenu.html.twig' %}
          </ul>
        </div>
      {% endblock %}
    </div>
  </div>
</nav>