{% extends 'layout.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block header %}
    {{ controller_name }}
{% endblock %}

{% block content %}
<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'nsek/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'nsek/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}


