{% trans_default_domain 'case' %}

<div class="modal fade" id="assign_case{{ case.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignCaseworkerModalLabel">{% trans %}Assign caseworker{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(assign_form, {'action': path('case_assign_caseworker', {'id': case.id})}) }}
                {{ form_widget(assign_form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                <button type="submit" class="btn btn-primary">{% trans %}Assign caseworker{% endtrans %}</button>
                {{ form_end(assign_form) }}
            </div>
        </div>
    </div>
</div>
