{% trans_default_domain 'case' %}

<div class="modal fade" id="reschedule_hearing_response_deadline">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(reschedule_form, {'method': 'POST', 'action': path('case_reschedule_hearing_response_deadline', {'id': case.id}), 'attr': {'id': 'reschedule_hearing_form', 'data-use-ajax': true}}) }}
            <div class="modal-header">
                <h5 class="modal-title" id="rescheduleHearingResponseDeadlineModalLabel">{% trans %}Reschedule hearing response deadline{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body form-body">
                {{ form_widget(reschedule_form) }}
                <div class="form-error"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                <button id="finish_hearing_submit_button" type="submit" class="btn btn-primary">{% trans %}Reschedule{% endtrans %}</button>
            </div>
            {{ form_end(reschedule_form) }}

        </div>
    </div>
</div>
