{% extends 'layout-with-submenu.html.twig' %}

{% trans_default_domain 'case' %}

{% block title %}{% trans %}Edit basic information{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Basic information{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {# TODO: Need functionality on save changes button #}
            <a name="" id="" class="btn btn-secondary" href="{{ url('case_show', {id: case.id}) }}" role="button">{% trans %}Cancel edit{% endtrans %}</a>
        </div>
    </div>

    {{ form_start(case_form) }}
    {{ form_rest(case_form) }}
    <button class="btn btn-primary float-right" type="submit" name="submit">{% trans %}Submit{% endtrans %}</button>
    {{ form_end(case_form) }}
{% endblock %}

