{% extends 'layout-with-submenu.html.twig' %}

{% block title %}{% trans %}Hearing{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Hearing{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {# TODO: Needs functionality on button, needs to only be clickable if neither party has anything to add#}
            <a name="" id="" class="btn btn-secondary" href="#" role="button">{% trans %}End Hearing{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">


        <div class="row">
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                        {% trans %}Complaints have nothing more to add{% endtrans %}
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                        {% trans %}Counterparty has no more to add{% endtrans %}
                    </label>
                </div>
            </div>
        </div>

        <div class="accordion mt-3" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <div class="row">
                        <div class="col">
                            <h2 class="m-0 p-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Partshøringsinvitation
                                </button>
                            </h2>
                        </div>
                        <div class="col-auto ml-auto">
                            <p class="pt-2">Sagsbehandler <span class="text-muted">sendt til</span> Part</p>
                        </div>
                        <div class="col-auto">
                            <p class="pt-2">01.01.2020 - 13:37</p>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8" aria-label="message content">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                            <div class="col-md-4" aria-label="attachments">
                                <p class="text-muted"><a href="#">Bilag1</a>; <a href="#">Bilag2</a>; <a href="#">Bilag3</a>; <a href="#">Huslejenævnet den 04.06.2020 Lejen Størrelse</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a name="" id="" class="btn btn-primary mr-2" href="#" role="button">{% trans %}Answer{% endtrans %}</a>
                                <a name="" id="" class="btn btn-primary" href="#" role="button">{% trans %}Answer on behalf of part{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <div class="row">
                        <div class="col">
                            <h2 class="m-0 p-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Partshøringsinvitation
                                </button>
                            </h2>
                        </div>
                        <div class="col-auto ml-auto">
                            <p class="pt-2">Sagsbehandler <span class="text-muted">sendt til</span> Part</p>
                        </div>
                        <div class="col-auto">
                            <p class="pt-2">01.01.2020 - 13:37</p>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8" aria-label="message content">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                            <div class="col-md-4" aria-label="attachments">
                                <p class="text-muted"><a href="#">Bilag1</a>; <a href="#">Bilag2</a>; <a href="#">Bilag3</a>; <a href="#">Huslejenævnet den 04.06.2020 Lejen Størrelse</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a name="" id="" class="btn btn-primary mr-2" href="#" role="button">{% trans %}Answer{% endtrans %}</a>
                                <a name="" id="" class="btn btn-primary" href="#" role="button">{% trans %}Answer on behalf of part{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <div class="row">
                        <div class="col">
                            <h2 class="m-0 p-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Partshøringsinvitation
                                </button>
                            </h2>
                        </div>
                        <div class="col-auto ml-auto">
                            <p class="pt-2">Sagsbehandler <span class="text-muted">sendt til</span> Part</p>
                        </div>
                        <div class="col-auto">
                            <p class="pt-2">01.01.2020 - 13:37</p>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8" aria-label="message content">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                            </div>
                            <div class="col-md-4" aria-label="attachments">
                                <p class="text-muted"><a href="#">Bilag1</a>; <a href="#">Bilag2</a>; <a href="#">Bilag3</a>; <a href="#">Huslejenævnet den 04.06.2020 Lejen Størrelse</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a name="" id="" class="btn btn-primary mr-2" href="#" role="button">{% trans %}Answer{% endtrans %}</a>
                                <a name="" id="" class="btn btn-primary" href="#" role="button">{% trans %}Answer on behalf of part{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="col-12 mt-3">
        <div class="row">
            <div class="col-auto ml-auto">
                {# TODO: Needs functionality on button, needs to only be clickable if neither party has anything to add#}
                <a name="" id="" class="btn btn-secondary" href="#" role="button">{% trans %}End Hearing{% endtrans %}</a>
            </div>
        </div>
    </footer>
{% endblock %}