{% extends 'base.html.twig' %}

{% block title %}Hello CaseController!{% endblock %}

{% block body %}
{% for case in cases %}
    <a href="{{ url('document_index', {'case_id': case.id}) }}">{{ case.id }}</a><br />
{% endfor %}
{% endblock %}
