{% trans_default_domain 'admin' %}

{% block _BoardMember_lookup_identifier_widget %}
    {{ block('form_widget_simple') }}
    <div>
        <button class="btn btn-primary mt-2 lookup-cpr" type="button">{% trans %}Find information from identifier{% endtrans %}</button>
    </div>
{% endblock %}
