<form class="form-inline px-3 px-lg-0 my-2 my-lg-0 ml-lg-1 col">
    <input class="form-control w-100 rounded form-control-sm ml-lg-2 mr-lg-1" type="text" placeholder="Search">
</form>
<ul class="navbar-nav ml-auto px-3 px-lg-0 col-auto">
    <li class="nav-item dropdown">
        {# TODO: Dropdown with shortcuts from Settings/External-shortcuts #}
        <a class="btn btn-sm btn-dark d-block dropdown-toggle mb-2 mb-lg-0 border" href="#" id="external-shortcuts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genveje</a>
        <div class="dropdown-menu" aria-labelledby="external-shortcuts">
            <a class="dropdown-item" href="#">Genvej 1</a>
            <a class="dropdown-item" href="#">Genvej 2</a>
            <a class="dropdown-item" href="#">Genvej 3</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        {# TODO: Link to Create new  #}
        <a class="btn btn-sm btn-success d-block dropdown-toggle mb-2 mb-lg-0" href="#" id="create-new" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opret ny</a>
        <div class="dropdown-menu" aria-labelledby="create-new">
            <a class="dropdown-item" href="#">Ny sag</a>
            <a class="dropdown-item" href="#">Ny dagsorden</a>
        </div>
    </li>
    <li class="nav-item">
        {# TODO: Show active reminders and link to alle reminders  #}
        <a class="btn btn-sm btn-warning d-block mb-2 mb-lg-0" href="#">1 påmindelse</a>
    </li>
    <li class="nav-item">
        {# TODO: Show name and avatar for active user and link to Settings/User  #}
        <a class="btn btn-sm btn-dark d-block mb-2 mb-lg-0" href="#"><i class="fas fa-user-circle mr-2"></i>{{ app.user.email }}</a>
    </li>
</ul>