{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Broadcast agenda{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Broadcast agenda{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Broadcast agenda to involved parties and board members{% endtrans %}</small></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form(broadcast_form) }}
    </main>
{% endblock %}