{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Broadcast agenda{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Broadcast agenda{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Send notice to board members informing them that they now has access to the agenda.{% endtrans %}</small></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {% if agenda.isReady() %}
            {{ form(broadcast_form) }}
        {% else %}
            <p>{% trans %}Agenda must have status: ready, before being able to send notice to board members.{% endtrans %}</p>
        {% endif %}
    </main>
{% endblock %}