{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Protocol{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Protocol{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Create or update protocol{% endtrans %}</small></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-12 mt-3">
        {{ form_start(protocol_form) }}
        <div class="row mb-3">
            <div class="col">
                <label class="form-label" for="hest">{% trans %}Agenda protocol{% endtrans %}</label>
                {{ form_widget(protocol_form.protocol, {'attr': {'class': 'form-control', 'name': 'hest'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end">{{ button_label|default('Update protocol'|trans([], 'agenda', 'da')) }}</button>
            </div>
        </div>
        {{ form_rest(protocol_form) }}
    </main>
{% endblock %}
