{% extends 'layout-with-agenda-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Protocol{% endtrans %}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Protocol{% endtrans %}</h1>
        </div>
        <div class="col-auto">
            {# TODO: Needs functionality on buttons #}
{#            <a name="" id="" class="btn btn-success" href="#" role="button">{% trans %}Create inspection letter{% endtrans %}</a>#}
            {#            <a name="" id="" class="btn btn-primary" href="#" role="button">{% trans %}Save changes{% endtrans %}</a>#}
        </div>
    </div>
{% endblock %}

{% block content %}


    <footer class="col-12 mt-3">
        <div class="row">
            <div class="col-auto ml-auto">
                {# TODO: Needs functionality on buttons #}
{#                <a name="" id="" class="btn btn-success" href="#" role="button">{% trans %}Create inspection letter{% endtrans %}</a>#}
            </div>
        </div>
    </footer>
{% endblock %}