{% extends 'layout-with-agenda-case-item-submenu.html.twig' %}

{% trans_default_domain 'agenda_item' %}

{% block title %}{% trans %}Inspection{% endtrans %}{% endblock %}

{% block header %}
    <div class="row mt-1 mb-3">
        <div class="col">
            <h1>{% trans %}Inspection case{% endtrans %} {{ agendaItem.caseEntity.caseNumber }}</h1>
            <p class="text-muted"><small>{% trans %}Send message to parties regarding inspection{% endtrans %}</small></p>
        </div>
        <div class="col-auto">
            <a name="" id="" class="btn btn-success" href="{{ url('agenda_item_inspection_letter', {id: agenda.id, agenda_item_id: agendaItem.id}) }}" role="button">{% trans %}Create inspection letter{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}



    <footer class="col-12 mt-3">
        <div class="row">
            <div class="col-auto ml-auto">
                <a name="" id="" class="btn btn-success" href="#" role="button">{% trans %}Create inspection letter{% endtrans %}</a>
            </div>
        </div>
    </footer>
{% endblock %}