{% extends 'layout-with-agenda-item-submenu.html.twig' %}

{% trans_default_domain 'agenda' %}

{% block title %}{% trans %}Agenda item{% endtrans %}{% endblock %}

{% block sidebar %}
    {% include 'sidebar/agenda-case-item-sidebar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Agenda item{% endtrans %}</h1>
            {% if not is_granted('ROLE_BOARD_MEMBER') %}
                <p class="text-muted"><small>{% trans %}Edit agenda item{% endtrans %}</small></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form_start(agenda_item_edit_form) }}
        {{ form_rest(agenda_item_edit_form) }}
        {% if not is_granted('ROLE_BOARD_MEMBER') %}
            <button class="btn btn-primary float-right">{{ button_label|default('Edit agenda item'|trans([], 'agenda', 'da')) }}</button>
        {% endif %}
        {{ form_end(agenda_item_edit_form) }}
    </main>
{% endblock %}
