{% extends 'layout-with-agenda-item-submenu.html.twig' %}

{% trans_default_domain 'agenda_item' %}

{% block title %}{% trans %}Case presentation{% endtrans %}{% endblock %}

{% block sidebar %}
    {% include 'sidebar/agenda-case-item-sidebar.html.twig' %}
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col">
            <h1>{% trans %}Case presentation{% endtrans %}</h1>
            <p class="text-muted"><small>{% trans %}Create or update case presentation{% endtrans %}</small></p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-12 mt-3">
        {{ form(case_presentation_form) }}
    </main>
{% endblock %}