.grid-information {
    .grid-header {
        a {
            text-decoration: none;
            color: inherit;
        }

        h3 {
            display: flex;
            justify-content: space-between;

            .label {
                flex-shrink: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
