.grid-information {
    a {
        text-decoration: none;
        color: inherit;
    }

    h3, .grid-row {
        display: flex;
        justify-content: space-between;

        .label {
            flex-shrink: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
