// Address protection styling for forms

// Hides checkboxes
[id$='sUnderAddressProtection'] {
  display: none;
}

// Hides (checkbox) labels
[for$='sUnderAddressProtection'] {
  display: none;
}

// Shows labels if checkboxes are checked (i.e. person is under address protection)
[id$='sUnderAddressProtection']:checked + [for$='sUnderAddressProtection'] {
  display: initial;
  font-weight: bold;
  color: red;
  // Ensure label cannot be clicked to toggle checkbox
  pointer-events: none;
}


// Address protection displays on case_show route
[id$='IsUnderAddressProtectionCaseShow'] {
  font-weight: bold;
  color: red;
  font-size: 50%;
}

[id='partyIsUnderAddressProtectionCaseShow'] {
  font-weight: bold;
  color: red;
}
