{% trans_default_domain 'common' %}

<section area-labelledby="section_caseprogress" class="mt-5">
    <div class="row">
        <div class="col">
            <h2 id="section_caseprogress">{% trans %}Caseprogress{% endtrans %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress">
                {# TODO: Needs functionality on buttons #}
                <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="row mt-1">
                {% for place in places %}
                    <div class="col">
                        <p class="m-0">{{ place|trans([], 'common', 'da') }}<i class="fas fa-angle-right ms-1 mt-1 float-end"></i></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
