<div class="digital-post-attachments-info">
    <div class="digital-post-attachments-info-item" data-digital-post-allowed="{{ true }}" hidden>
        <div class="alert alert-success">
            <span class="digital-post-message">
                {{ 'All recipients can receive digital post. Attach at most <strong>{max_size}</strong>.'|trans({'{max_size}': digital_poster.getDigitalPostMaxSize()}, 'case')|raw }}
            </span>
        </div>
    </div>
    <div class="digital-post-attachments-info-item" data-digital-post-allowed="{{ false }}" hidden>
        <div class="alert alert-warning">
            <span class="digital-post-message">
                {{ 'Some recipients cannot receive digital post. Attach at most <strong>{max_size}</strong>.'|trans({'{max_size}': digital_poster.getPhysicalPostMaxSize()}, 'case')|raw }}
            </span>
        </div>
    </div>
</div>

