{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ 'error' == label ? 'danger' : label }}">
            {# message may be an instance of TranslatableInterface #}
            {{ message.trans is defined ? message|trans : message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'Close'|trans([], 'messages') }}"></button>
        </div>
    {% endfor %}
{% endfor %}
