{% trans_default_domain 'case' %}

<div class="form-row">
    <div class="form-group col-md-2">
        <label for="inputBasicInformation4">{% trans %}Lease started{% endtrans %}</label>

        <input type="text" class="form-control" id="inputBasicInformation4" value="{{ case.leaseStarted is empty ? "" : case.leaseStarted|date(format_date) }}" readonly>
    </div>
    <div class="form-group col-md-2">
        <label for="inputBasicInformation3">{% trans %}Has vacated{% endtrans %}</label>
        <input type="text" class="form-control" id="inputBasicInformation3" value="{% if case.hasVacated %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}" readonly>
    </div>
    <div class="form-group col-md-2">
        <label for="inputBasicInformation4">{% trans %}Lease size{% endtrans %}</label>
        <input type="text" class="form-control" id="inputBasicInformation4" value="{{ case.leaseSize }}" readonly>
    </div>
    <div class="form-group col-md-3">
        <label for="inputBasicInformation5">{% trans %}Lease type{% endtrans %}</label>
        {# TODO: Update city value when such property exists #}
        <input type="text" class="form-control" id="inputBasicInformation5" value="{{ case.leaseType|trans([], 'case') }}" readonly>
    </div>
    <div class="form-group col-md-3">
        <label for="inputBasicInformation5">{% trans %}Interior maintenance{% endtrans %}</label>
        {# TODO: Update city value when such property exists #}
        <input type="text" class="form-control" id="inputBasicInformation5" value="{{ case.leaseInteriorMaintenance }}" readonly>
    </div>
</div>
