{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar/navbar.html.twig' %}
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}
                {% include 'sidebar/agenda-sidebar.html.twig' %}
            {% endblock %}
            <div class="col-md-12 col-lg-9 ml-sm-auto px-md-4">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <header class="pt-3">
                    {% block header %}{% endblock %}
                </header>
                <div class="row pb-2 mb-3">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
