{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar/navbar.html.twig' %}
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}{% endblock %}
            <div class="col-md-12 col-lg-9 ms-sm-auto px-md-4">
                {% block flash_messages %}
                    {% include 'common/flash_messages.html.twig' %}
                {% endblock %}
                <header class="pt-3">
                    {% block header %}{% endblock %}
                </header>
                <div class="row pb-2 mb-3">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
