{% extends 'base.html.twig' %}

{% block body %}
    {% if documents|length > 0 %}
        <h2>Documents:</h2>
        {% for document in documents %}
            <h4>Document name: {{ document.documentName }} Document type: {{ document.type }} Uploader: {{ document.createdBy }}</h4>
        {% endfor %}
    {% else %}
        <div>No documents have been uploaded yet.</div>
    {% endif %}
    <h2>Upload file:</h2>
    {{ form(document_form) }}
{% endblock %}
