{% set btn_group = [
    {
        "name": "Add reminder",
        "style": "warning",
        "icon": "clock",
        "link": "#",
        "tooltip": "Add reminder",
    },
    {
        "name": "Edit case",
        "style": "primary",
        "icon": "pen",
        "link": "#",
        "tooltip": "Edit case",
    },
] %}

<ul class="list-group mb-5">
    {% for item in inactive_cases %}
        <li class="list-group-item list-group-item-action flex-column align-items-start list-group-item-secondary">
            <div class="row">
                <div class="col">
                    <a href="{{ item.link|e }}" class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ item.caseid|e }}: {{ item.title|e }}</h5>
                        <span>{{ item.status|e }}</span>
                    </a>
                </div>
                <div class="col-auto">
                    {% include "common/btn_group.html.twig" with btn_group %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>