<ul class="list-group mb-5">
    {% for reminder in exceeded_reminders %}
        <li class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning">
            <div class="row">
                <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="h5">
                            {% trans %}Case{% endtrans %}:
                            <a href="{{ url('case_summary', {id: reminder.caseEntity.id}) }}">
                                {{ reminder.caseEntity.caseNumber|e }}
                            </a>
                        </div>
                        <span>{{ reminder.date|date('d/m/Y') }}</span>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-0">{{ reminder.content|e }}</p>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>