<div class="list-group mb-5">
    {% for item in unassigned_cases %}
        <a href="{{ item.link|e }}" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success">
            <div class="row">
                <div class="col">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ item.caseid|e }}: {{ item.title|e }}</h5>
                        <span>{{ item.status|e }}</span>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="{% trans %}List actions{% endtrans %}">
                    <a class="btn btn-success" role="button" data-toggle="tooltip" data-placement="auto" title="{% trans %}Assign case to user{% endtrans %}" href="#">
                        <i class="fas fa-user-plus"></i><span class="sr-only">{% trans %}Assign user{% endtrans %}</span>
                    </a>
                    <a class="btn btn-warning" role="button" data-toggle="tooltip" data-placement="auto" title="{% trans %}Add reminder{% endtrans %}" href="#">
                        <i class="fas fa-clock"></i><span class="sr-only">{% trans %}Add reminder{% endtrans %}</span>
                    </a>
                    <a class="btn btn-primary" role="button" data-toggle="tooltip" data-placement="auto" title="{% trans %}Edit case{% endtrans %}" href="#">
                        <i class="fas fa-pen"></i><span class="sr-only">{% trans %}Edit case{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </a>
    {% endfor %}
</div>