{% extends 'layout.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% set unassigned_cases = [
    {
        "link": "#",
        "caseid": "2207",
        "title": "Unassigned Case",
        "description": "Here is a casesummery id tincidunt massa quam quis nunc.",
        "status": "Awaiting assignee",
        "date": "2. sep 2020"
    },
    {
        "link": "#",
        "caseid": "2208",
        "title": "Unassigned Case",
        "description": "Here is a casesummery id tincidunt massa quam quis nunc.",
        "status": "Awaiting assignee",
        "date": "3. sep 2020"
    },
] %}

{% set inactive_cases = [
    {
        "link": "#",
        "caseid": "2207",
        "title": "Remember to add signed documents",
        "description": "Here is a casesummery id tincidunt massa quam quis nunc.",
        "status": "Open",
        "date": "2. sep 2020"
    },
] %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block header %}
    <h1>{% trans %}Dashboard{% endtrans %}</h1>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="municipality">{% trans %}Select municipality{% endtrans %}</label>
            <select class="form-control" name="municipality" id="municipality">
                {% if municipalities|length > 0 %}
                    {% for municipality in municipalities %}
                        {# Todo: Update page according to selected municipality #}
                        <option value=municipality {% if municipality == favorite_municipality %} selected="selected" {% endif %} >{{ municipality.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-md-9">
        {% if exceeded_reminders|length > 0 %}
            <h2 class="h3"><i class="fas fa-clock mr-2"></i>{% trans %}Cases with reached reminders{% endtrans %}</h2>
            {% include "dashboard/_reached_reminders.html.twig" with exceeded_reminders %}
        {% endif %}
        {% if unassigned_cases|length > 0 %}
            <h2 class="h3"><i class="fas fa-user-plus mr-2"></i>{% trans %}Unassigned cases{% endtrans %}</h2>
            {% include "dashboard/_unassigned_cases.html.twig" with unassigned_cases %}
        {% endif %}
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                <h2 class="h3"><i class="fas fa-list mr-2"></i>{% trans %}My cases{% endtrans %}<span class="badge badge-dark ml-2">25</span></h2>
                <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">{% trans %}Hearing in progress{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-secondary btn-lg btn-block">{% trans %}New post{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-info btn-lg btn-block">{% trans %}On agenda{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-dark btn-lg btn-block">{% trans %}Deadline reached{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                <h2 class="h3">{% trans %}Cases tenant complaints{% endtrans %}<span class="badge badge-dark ml-2">25</span></h2>
                <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">{% trans %}Hearing in progress{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-secondary btn-lg btn-block">{% trans %}New post{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-info btn-lg btn-block">{% trans %}On agenda{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-dark btn-lg btn-block">{% trans %}Deadline reached{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                <h2 class="h3">{% trans %}Cases rent complaints{% endtrans %}<span class="badge badge-dark ml-2">25</span></h2>
                <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">{% trans %}Hearing in progress{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-secondary btn-lg btn-block">{% trans %}New post{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-info btn-lg btn-block">{% trans %}On agenda{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-dark btn-lg btn-block">{% trans %}Deadline reached{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                <h2 class="h3">{% trans %}Cases fence complaints{% endtrans %}<span class="badge badge-dark ml-2">25</span></h2>
                <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">{% trans %}Hearing in progress{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-secondary btn-lg btn-block">{% trans %}New post{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-info btn-lg btn-block">{% trans %}On agenda{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
                <button type="button" name="" id="" class="btn btn-dark btn-lg btn-block">{% trans %}Deadline reached{% endtrans %}<span class="badge badge-light ml-2">4</span></button>
            </div>
        </div>
        <h2 class="h3"><i class="fas fa-undo mr-2"></i>{% trans %}Cases opened more than 30 days ago{% endtrans %}</h2>
        {% include "dashboard/_inactive_cases.html.twig" with inactive_cases %}
    </main>
    <aside role="aside" class="col-md-3">
        {% include "dashboard/_upcoming_reminders.html.twig" with upcoming_reminders %}
    </aside>
{% endblock %}