{% extends 'layout.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% set inactive_cases = [
    {
        "link": "#",
        "caseid": "2207",
        "title": "Remember to add signed documents",
        "description": "Here is a casesummery id tincidunt massa quam quis nunc.",
        "status": "Open",
        "date": "2. sep 2020"
    },
] %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block header %}
    <h1>{% trans %}Dashboard{% endtrans %}</h1>
    <div class="row">
        <div class="col-3">
            {{ form(municipality_form) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" class="col-md-10">
        {% if exceeded_reminders|length > 0 %}
            <h2 class="h3"><i class="fas fa-clock mr-2"></i>{% trans %}Cases with reached reminders{% endtrans %}</h2>
            {% include "dashboard/_reached_reminders.html.twig" with exceeded_reminders %}
        {% endif %}
        {% if unassigned_cases|length > 0 %}
            <h2 class="h3"><i class="fas fa-user-plus mr-2"></i>{% trans %}Unassigned cases{% endtrans %}</h2>
            {% include "dashboard/_unassigned_cases.html.twig" with unassigned_cases %}
        {% endif %}
        <div class="row mb-5">
            {% include "dashboard/_grid_information.html.twig" with grid_information %}
        </div>
        <h2 class="h3"><i class="fas fa-undo mr-2"></i>{% trans %}Cases opened more than 30 days ago{% endtrans %}</h2>
        {% include "dashboard/_inactive_cases.html.twig" with inactive_cases %}
    </main>
    <aside role="aside" class="col-md-2">
        {% include "dashboard/_upcoming_reminders.html.twig" with upcoming_reminders %}
    </aside>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('municipality_select') }}
{% endblock %}
